:root {
  --header-height: 90px;
  --footer-height: 90px;
  --box:70px
}

/** Reset **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, sans-serif;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
body{
  background-color: rgba(212, 200, 184, 0.856);
}

/** Utils **/

.container {
  max-width: 1080px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.brd{
  border: 2px dashed black;
}
.box{
  height: var(--box);
  width: var(--box);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed black;
}
.unclicked{
 background-color: white;
 color: white;
}

.punto{
  color: black;
  background-color: aqua;
  cursor: not-allowed;
}
.bomb{
  color: white;
  background-color: red;
}

/** HEADER **/
.header {
  min-height: var(--header-height);
  background-color: rgb(130, 64, 40);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > .logo{
  width: 200px;
  height: 50px;
}


/** MAIN **/
.wrapper{
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
.box-container{
  background-color: rgb(255, 254, 253);
  display: flex;
  flex-wrap: wrap;
  
}
.container-10{
  height:calc(10* var(--box));
  width: calc(10* var(--box)); 
}
.container-9{
  height:calc(9* var(--box));
  width: calc(9* var(--box)); 
}
.container-7{
  height:calc(7* var(--box));
  width: calc(7* var(--box)); 
}

/** FOOTER **/
.footer {
  min-height: var(--footer-height);
  background-color: goldenrod;
}